*Привет!* 👋

Моё предназначение – переводить текст в эмодзи! Отправь мне любое сообщение или воспользуйся инлайн режимом. Работаю с любым языком.

*🤖 Посмотри также:*
[Красивые Боты](https://t.me/handybots) — канал о красивых ботах в Телеграм
